
body, div, p, table, tr, td { 
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	color: #000;
}

body {
	padding: 20px;
	font-family: Trebuchet, sans-serif;
}

table, tr, td {
	border-collapse: collapse;
	border: 0 solid;
	margin: 25px 0;
}

tr:nth-child(even){
	background-color: #F0F0F0;
}

.allVehicles tr:not(.headers):hover {
	background-color: #E7E7E7;
}

td {
	padding: 10px 7px;
	width: 60px;
	cursor: default;
}

.allVehicles td {
	cursor: pointer;
}

tr.headers td {
	font-size: 1.1em;
	padding-bottom: 30px;
	font-weight: bold;
	cursor: default;
} 

button {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	background: #93D0A3;
	border-radius: 7px;
}

button:hover {
	cursor: pointer;
	background: #93E0B3;
}

.pageCol {
	float: left;
	padding: 10px;
}

.pageCol.leftPage {
	border-right: 1px solid #AAA;
	padding-left: 0;
}


.topContainer {
	padding-left: 20px;
}

.nameInput p {
	font-style: italic;
	font-size: 17px;
	margin-top: 20px;
	
}

.datePicker {
}

.priceQuote {
	padding: 20px;
	border: 3px double green;
	border-radius: 10px;
	text-align: center;
}

.priceQuote div {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.priceQuote span {
	font-size: 1.2em;
}

.selectedReg {
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0;
}

.clearBoth {
	clear: both;
}

.availableVehicles {
	float: left;
	margin-top: 30px;
	border-top: 1px solid #AAA;
}

.adviceNote {
	font-style: italic;
	font-size: 17px;
	margin: 20px 0;
}

.aBitSmaller {
	font-size: 0.8em;
}

input {
	border: 1px solid #000;
	border-radius: 7px;
	padding: 10px;
	font-weight: bold;
	font-size: 17px;
}

.nameInput input {
	margin: 10px 0;
}




